@model IEnumerable<MyClass.Models.ProductInfo>

@{
    ViewBag.Title = "Thùng rác sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content my-2">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase" style="font-size:22px">
                            THÙNG RÁC SẢN PHẨM
                        </strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Index","Product")" class="btn btn-sm btn-info"><i class="fas fa-arrow-left"></i>&nbsp&nbspVề danh sách</a>

                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.Partial("Message")
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr class="bg-gradient-info">
                            <th class="text-center " style="width:100px;">
                                Hình ảnh
                            </th>
                            <th class="text-center "style="width:230px;">Tên sản phẩm</th>
                            <th class="text-center">
                                Tên danh mục
                            </th>
                            <th style="width:200px"> Slug</th>
                            <th> Ngày tạo</th>
                            <th class="text-center" style="width:130px;">Chức năng</th>
                            <th class="text-center" style="width:30px;">ID</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <img src="~/Public/images/products/@item.Img" alt="@item.Slug" class="img-fluid" />
                            </td>
                            <td>@item.Name</td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.CatName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Slug)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created_At)
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Retrash","Product",new { id = item.Id })" class="btn btn-sm btn-success"><i class="fas fa-undo-alt"></i></a>
                                <a href="@Url.Action("Delete","Product",new { id = item.Id })" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>


                            </td>
                            <td class="text-center">@item.Id</td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
