@model MyClass.Models.Contact

@{
    ViewBag.Title = "Chi tiết liên hệ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- /.content-wrapper -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger" style="font-size:22px">
                            CHI TIẾT LIÊN HỆ
                        </strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Index","Contact")" class="btn btn-sm btn-info"><i class="fas fa-arrow-left"></i>&nbsp&nbspVề danh sách</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tr class="bg-gradient-info">
                        <th style="width:200px">Tên trường</th>
                        <th>Nội dung</th>
                    </tr>
                    <tr>
                        <td>ID người dùng</td>
                        <td>@Html.DisplayFor(model => model.UserId)</td>
                    </tr>
                    <tr>
                        <td>Họ tên</td>
                        <td>@Html.DisplayFor(model => model.FullName)</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại</td>
                        <td>@Html.DisplayFor(model => model.Phone)</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td>Tiêu đề</td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <td>Chi tiết</td>
                        <td>@Html.DisplayFor(model => model.Detail)</td>
                    </tr>
                    <tr>
                        <td>Ngày gửi</td>
                        <td>@Html.DisplayFor(model => model.Created_At)</td>
                    </tr>
                    @*<tr>
                            <td>Người cập nhật</td>
                            <td>@Html.DisplayFor(model => model.Updated_By)</td>
                        </tr>*@
                    @*<tr>
                            <td>Ngày cập nhật</td>
                            <td>@Html.DisplayFor(model => model.Updated_At)</td>
                        </tr>*@
                    @*<tr>
                            <td>Trạng thái</td>
                            <td>@Html.DisplayFor(model => model.Status)</td>
                        </tr>*@
                </table>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->