@model IEnumerable<MyClass.Models.Contact>
@{
    ViewBag.Title = "Thùng rác liên hệ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header {
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer {
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase" style="font-size:22px">THÙNG RÁC LIÊN HỆ</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Index","Contact")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left"></i> Về danh sách</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.Partial("Message")
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr class="bg-gradient-info">
                            <th class="text-center" style="width:300px">Họ tên</th>
                            <th class="text-center">Tiêu đề</th>
                            <th class="text-center" style="width:180px">Email</th>
                            <th class="text-center" style="width:110px;">Số điện thoại</th>
                            <th class="text-center" style="width:180px;">Chức năng</th>
                            <th class="text-center" style="width:30px">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.Title</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                <td class="text-center">
                                    <a href="@Url.Action("Retrash","Contact",new { id = item.Id })" class="btn btn-sm btn-success"><i class="fas fa-undo-alt"></i></a>
                                    <a href="@Url.Action("Delete","Contact",new { id = item.Id })" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                                <td class="text-center">@item.Id</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->