@model IEnumerable<MyClass.Models.Order>
@{
    ViewBag.Title = "Thùng rác đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header {
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer {
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase" style="font-size:22px">
                            THÙNG RÁC ĐƠN HÀNG
                        </strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Index","Order")" class="btn btn-sm btn-info"><i class="fas fa-arrow-left"></i>&nbsp&nbspVề danh sách</a>

                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.Partial("Message")
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr class="bg-gradient-info">
                            <th class="text-center" style="width:100px;">Mã đơn hàng</th>
                            <th class="text-center">Họ tên khách hàng</th>
                            <th class="text-center">Ngày tạo</th>
                            <th class="text-center">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-center">@item.Id</td>

                            <td class="text-center">
                                @Html.Action("NameCustomer", "User", new { userid = item.UserId })
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Created_At)
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Retrash","Order", new { id = item.Id })" class="btn btn-sm btn-info"><i class="fa fa-undo-alt"></i></a>
                                <a href="@Url.Action("Delete","Order", new { id = item.Id })" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
